.home-background {
    background-image: url('./images/pueblo-paleta.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 80vh; 
    padding: 40px;
    text-align: center;
    color: white; 
}

.home-text-container {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    max-width: 600px; 
    margin: 0 auto; 
}